.sidebar
  background: lighten($light-gray, 7%)
  border-right: solid 1px darken($light-gray, 3%)
  box-shadow: 4px 0px 16px #ccc
  height: 100vh
  width: $width-sidebar
  position: fixed
  top: $height-header
