// Paragraph
.paragraph
  color: $gray
  font-weight: $fw-normal
  margin: $space-m 0 $space-m 0

.paragraph--lg
  font-size: rem(16)
  line-height: rem(26)

.paragraph--md
  font-size: rem(15)
  line-height: rem(21)

.paragraph--sm
  font-size: rem(14)
  line-height: rem(20)

.paragraph--xs
  font-size: rem(13)
  line-height: rem(16)

.paragraph--ll
  font-size: rem(12)
  line-height: rem(16)

// Headings
.heading
  margin-bottom: $space-m

.heading--no-margin
  margin-bottom: 0

.heading--1
  font-size: rem(24)
  font-weight: $fw-extrabold
  line-height: rem(28)

.heading--2
  font-size: rem(21)
  font-weight: $fw-extrabold
  line-height: rem(25)

.heading--3
  font-weight: $fw-bold
  font-size: rem(20)
  line-height: rem(24)

.heading--4
  font-weight: $fw-bold
  font-size: rem(18)
  line-height: rem(21)
